[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chatterbot-corpus = {git = "https://github.com/gunthercox/chatterbot-corpus.git"}

[dev-packages]
pylint = "<2.0.0"

[requires]
python_version = "3.8"
